body, html {   
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: table;
}

body {
    display: table-cell;
    vertical-align: middle;
}

form {
    display: table;/* shrinks to fit content */
    margin: auto;
    text-align: center;
}

input, label {
    display: block;
    margin: 5px auto;
}

input[readonly="readonly"] {
    background-color: #E9E9E9;
}

#credit_card {
    padding: 0 2px;
    width: 133px;
}